* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5e9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #e8e3c9;
    border-bottom: 1px solid #ccc;
}

.logo {
    display: flex;
    align-items: center;
    background: url('https://sdmntprpolandcentral.oaiusercontent.com/files/00000000-5f90-620a-8731-ebdfcc473f64/raw?se=2025-04-23T11%3A37%3A31Z&sp=r&sv=2024-08-04&sr=b&scid=b9570614-6561-5e47-b427-62ef37d662ab&skoid=9370dd2b-ca43-4270-bed5-18b1b71f8fa0&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-04-23T05%3A34%3A37Z&ske=2025-04-24T05%3A34%3A37Z&sks=b&skv=2024-08-04&sig=tN/edJhl2S5aDQcA6iyrXvlYv3cK/yln68LpPNzDd/E%3D');

}

.logo img {
    width: 150px;
    margin-right: 10px;

}

.logo h1 {
    font-family: "Sorts Mill Goudy", serif;
    font-weight: 00;
    font-style: normal;
    color: #2f2a2a;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.botones-registro-logeo {
    margin-left: 20px;
}

.botones-registro-logeo .login, .botones-registro-logeo .registro {
    padding: 8px 15px;
    border: 1px solid #918c8c;
    background-color: #f5f5e9;
    cursor: pointer;
    font-size: 14px;
}

.botones-registro-logeo .registro {
    background-color: #c0d5aa;
}

main {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.panel_central {
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 800px;
}

.panel_central_text h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #181515;
}

.panel_central_text p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #3d3333;
}

.panel_central_text .login {
    padding: 10px 20px;
    border: 1px solid #9e9696;
    background-color: #f5f5e9;
    cursor: pointer;
    font-size: 14px;
}

.panel_central_image .imagen-panel-central {
    width: 300px;
    height: 200px;
    border: 1px dashed #958484;
    background: url('https://static.vecteezy.com/system/resources/thumbnails/019/966/010/small/alcazar-castle-in-segovia-spain-it-is-a-medieval-castle-located-in-the-city-of-segovia-in-castile-and-leon-spain-photo.jpg');
}


footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #c7d4a5;
    color: #333;
    font-size: 14px;
}